{% extends "base.html" %}
{% load static %}

{% block css %}

{% endblock %}

{% block javascript %}
    
{% endblock javascript %}

{% block content %}
    <!-- ======= Section Hero ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>De meilleures solutions pour vos affaires</h1>
                <h2>Nous sommes une équipe de concepteurs talentueux qui créent des sites web avec Bootstrap.</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Commencer</a>
                    <a href="https://www.youtube.com/watch?v=TSs98l4O9M0" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Voir la vidéo</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="{% static 'images/img/animated-server.png' %}" alt="serveur animée" class="img-fluid animated" alt="">
            </div>
        </div>
        </div>
    </section><!-- Hero Finis -->

    <main id="main">
        <!-- ======= Section Clients ======= -->
        <section id="clients" class="clients section-bg">
            <div class="container">
            <div class="row" data-aos="zoom-in">
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/img/clients/client-1.png' %}" class="img-fluid" alt="">
                </div>
    
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/img/clients/client-2.png' %}" class="img-fluid" alt="">
                </div>
    
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/img/clients/client-3.png' %}" class="img-fluid" alt="">
                </div>
    
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/img/clients/client-4.png' %}" class="img-fluid" alt="">
                </div>
    
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/img/clients/client-5.png' %}" class="img-fluid" alt="">
                </div>
    
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/img/clients/client-6.png' %}" class="img-fluid" alt="">
                </div>
            </div>
            </div>
        </section><!-- Section Clients Finis -->

        <!-- ======= Section A Propos ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>A propos de nous</h2>
                </div>
        
                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            Nous sommes des ingénieurs de l'INSA Hauts-de-France et de l'Université Polytechnique 
                            Hauts-de-France.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Voici une idée du projet final en 3ème année</li>
                            <li><i class="ri-check-double-line"></i> Fournir des solutions de conception pour les sites Web des entreprises</li>
                            <li><i class="ri-check-double-line"></i> Sous la direction principale de professeur M. Mustapha Ralti…</li>
                        </ul>
                    </div>
                        <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Nous souhaitons fournir des meilleurs services de conception et de construction de sites Web dans de nombreux 
                            domaines différents, en plus de pouvoir connecter nos talentueux ingénieurs avec nos clients. Nous nous engageons 
                            à fournir le meilleur service de qualité pour répondre aux besoins de nos clients.
                        </p>
                        <div class="button"><a href="{% url 'propos' %}" class="btn-learn-more">En Savoir Plus</a></div>
                    </div>
                </div>
            </div>
        </section><!-- Section A Propos Finis -->

        <!-- ======= Section Pourquoi Nous ======= -->
        <section id="why-us" class="why-us section-bg">
            <div class="container-fluid" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
                    <div class="content">
                        <h3>Pourquoi devriez-vous <strong>choisir notre service?</strong></h3>
                        <p>
                        Nous disons souvent qu'il n'y a pas de solution miracle en matière de marketing. Cela peut être dû à de nombreuses raisons, dont certaines sont contrôlables et d'autres non.
                        </p>
                    </div>

                    <div class="accordion-list">
                        <ul>
                            <li>
                                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Les services étonnants qui répondent exactement à vos besoins essentiels <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                <p>
                                    La principale exigence est de fournir les services nécessaires, appropriés et les meilleurs pour répondre aux besoins des clients. Nous sommes toujours prêts à écouter et à changer dans la meilleure direction pour nos partenaires.
                                </p>
                                </div>
                            </li>
            
                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Le "meilleur" prix parmi nos concurrents <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Parfois, les gens confondent cela avec le "prix le plus bas". Mais ce n'est pas toujours le cas. Certes, les prix bas sont quelque chose que de nombreux clients recherchent. Mais selon le marché que nous desservons, ce que nous devrions viser du point de vue des prix est le meilleur prix pour la valeur que nous offrons.
                                </p>
                                </div>
                            </li>
            
                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Valeurs sociales et communautaires <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    De plus en plus, les enquêtes suggèrent que les milléniaux et les jeunes générations choisissent des entreprises qui font une différence dans le monde. Il peut s'agir de notre position sur l'environnement, de la façon dont nous traitons nos travailleurs ou de la manière dont notre entreprise tente d'aider les moins privilégiés d'entre nous. Quoi qu'il en soit, si nous avons la motivation d'améliorer le monde, cela fait toujours partie du récit global de notre marque. C'est ce qui fera la différence entre un client qui nous choisit et un autre.
                                </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("../../static/images/img/web-dev-design.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
            </div>
            </div>
        </section><!-- Section Pourquoi Nous Finis -->

        <!-- ======= Section Compétences ======= -->
        <section id="skills" class="skills">
            <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                    <img src="{% static 'images/img/skills.png' %}" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                    <h3>Niveau de compétences en développement Web </h3>
                    <p class="fst-italic">
                        Les compétences distinctives d'une entreprise concernent les savoir-faire, les compétences technologiques, mais également 
                        les processus de production et d'organisation.
                    </p>

                    <div class="skills-content">
                        <div class="progress">
                            <span class="skill">HTML <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
        
                        <div class="progress">
                            <span class="skill">CSS <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
        
                        <div class="progress">
                            <span class="skill">JavaScript <i class="val">87%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
        
                        <div class="progress">
                            <span class="skill">Adobe XD <i class="val">77%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="button"><a href="{% url 'competences' %}" class="btn-learn-more">En Savoir Plus</a></div>
                </div>
            </div>
            </div>
        </section><!-- Section Compétences Finis -->

        <!-- ======= Section Services ======= -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Services</h2>
                    <p>Les principaux services que notre entreprise fournit pour aider les partenaires à créer leur propre marque. Détaillé et complet de l'étape de consultation à l'étape de réalisation du produit. Faites toujours passer la satisfaction du client en premier.</p>
                </div>
        
                <div class="row">
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Conseiller</a></h4>
                        <p>Conseiller et donner des instructions appropriées pour tous les types de clients</p>
                    </div>
                    </div>
        
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Planifier</a></h4>
                        <p>Discuter et établir des plans détaillés avec les clients en fonction des exigences les plus courantes</p>
                    </div>
                    </div>
        
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a href="">Mise en œuvre</a></h4>
                        <p>Commencer le déploiement du produit : conception, code front-end, code back-end, serveur, domaine, rapport, ...</p>
                    </div>
                    </div>
        
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-layer"></i></div>
                        <h4><a href="">Réaliser</a></h4>
                        <p>Compléter le produit et metter-le sur le marché avec le pack de services de garantie de notre société</p>
                    </div>
                    </div>
                </div>
            </div>
        </section><!-- Section Services Finis -->

        <!-- ======= Section CTA ======= -->
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                <h3>Appelez à l'action</h3>
                <p> N'attendez plus! Appelez-nous maintenant pour commencer à créer votre propre entreprise. Ou laissez vos coordonnées <a href="#contact">ci-dessous</a>, nous vous contacterons dans les plus brefs délais.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="tel:++33799882279">Appelez à l'action</a>
                </div>
            </div>
            </div>
        </section><!-- Section CTA Finis -->
        
        <!-- ======= Section Portfolio ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Portfolio</h2>
                    <p>Bienvenue sur notre portfolio de conception et de construction de sites Web ! Nous sommes fiers de notre créativité et de notre capacité à comprendre les besoins de nos clients pour offrir une expérience utilisateur exceptionnelle et un design attractif.</p>
                </div>

                <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">Tous</li>
                    <li data-filter=".filter-web">Web</li>
                    <li data-filter=".filter-card">Carte</li>
                    <li data-filter=".filter-app">Appli</li>
                </ul>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Appli 1</h4>
                        <p>Appli</p>
                        <a href="{% static 'images/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-fullscreen"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Web 1</h4>
                        <p>Web</p>
                        <a href="{% static 'images/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-fullscreen"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Appli 2</h4>
                        <p>Appli</p>
                        <a href="{% static 'images/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-fullscreen"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Appli 3</h4>
                        <p>Appli</p>
                        <a href="{% static 'images/img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-fullscreen"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Carte 2</h4>
                        <p>Carte</p>
                        <a href="{% static 'images/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-fullscreen"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Web 2</h4>
                        <p>Web</p>
                        <a href="{% static 'images/img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-fullscreen"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Carte 1</h4>
                        <p>Carte</p>
                        <a href="{% static 'images/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-fullscreen"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Carte 3</h4>
                        <p>Carte</p>
                        <a href="{% static 'images/img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-fullscreen"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <a href="{% static 'images/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-fullscreen"></i></a>
                        <a href="{% url 'portfolio-details' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>
                </div>
            </div>
        </section><!-- Section Portfolio Finis -->

        <!-- ======= Section Equipe ======= -->
        <section id="team" class="team section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Équipe</h2>
                    <p>Notre équipe est composée de professionnels passionnés par leur travail, engagés à fournir des solutions de qualité supérieure à nos clients. Nous sommes déterminés à offrir des résultats exceptionnels en travaillant ensemble dans un environnement de collaboration et de respect mutuel.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pic"><img src="{% static 'images/img/team/team-2.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                        <h4>Mustapha RALTI</h4>
                        <span>Professeur / Tuteur de projet</span>
                        <p>Tuteur pédagogique, mentor et examinateur de notre projets</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""><i class="ri-linkedin-box-fill"></i></a>
                        </div>
                        </div>
                    </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                        <div class="pic"><img src="{% static 'images/img/team/kid.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                        <h4>Emmanuelle Ngan Ha NGUYEN</h4>
                        <span>Chef de projet / Développeur full-stack / Ingénieur IA</span>
                        <p>Responsable de la gestion projet, de l'assurance de la qualité</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""><i class="ri-linkedin-box-fill"></i></a>
                        </div>
                        </div>
                    </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                        <div class="pic"><img src="{% static 'images/img/team/fisal.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                        <h4>Fisal RABHA</h4>
                        <span>Cyber sécurité / Développeur front-end</span>
                        <p>Responsable de la sécurité et du développement front-end</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""><i class="ri-linkedin-box-fill"></i></a>
                        </div>
                        </div>
                    </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                        <div class="pic"><img src="{% static 'images/img/team/sofian.jpg' %}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                        <h4>Sofian BARANT</h4>
                        <span>Développer full-stack / Designer</span>
                        <p>Responsable de la conception et du développement full-stack</p>
                        <div class="social">
                            <a href=""><i class="ri-twitter-fill"></i></a>
                            <a href=""><i class="ri-facebook-fill"></i></a>
                            <a href=""><i class="ri-instagram-fill"></i></a>
                            <a href=""><i class="ri-linkedin-box-fill"></i></a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="button"><a href="{% url 'equipe' %}" class="btn-learn-more">En Savoir Plus</a></div>
            </div>
        </section><!-- Section Equipe Finis -->

        <!-- ======= Section Prix de services ======= -->
        <section id="pricing" class="pricing">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Prix</h2>
                    <p>
                        Nous proposons une gamme de plans de service pour aider nos clients à accéder plus facilement aux solutions de commerce en ligne. 
                        De plans gratuits à des plans de service haut de gamme, nous offrons une variété de plans pour répondre aux besoins de différents clients. 
                        Chaque plan de service que nous proposons est conçu pour fournir des fonctionnalités et des fonctions différentes, permettant aux clients de personnaliser et de gérer leur site web plus facilement. 
                        Avec d'excellentes fonctionnalités de sécurité, de rapports et de support client, nos plans de service sont le choix parfait pour les entreprises en ligne cherchant à renforcer leur compétitivité.
                    </p>
                </div>
        
                <div class="row">
                    <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="box">
                        <h3>Plan de Base</h3>
                        <h4><sup>€</sup>599<span>par service</span></h4>
                        <ul>
                            <li><i class="bx bx-check"></i> Proposer les conseils</li>
                            <li><i class="bx bx-check"></i> Inclure des fonctionnalités limitées</li>
                            <li class="na"><i class="bx bx-x"></i> <span>Une bande passante rapide et sans publicités</span></li>
                            <li class="na"><i class="bx bx-x"></i> <span>Accéder à une version complète à l'API du service</span></li>
                            <li class="na"><i class="bx bx-x"></i> <span>Les rapports détaillés et les fonctionnalités de collaboration</span></li>
                        </ul>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'plan_base' %}" class="buy-btn">Démarrer</a>
                        {% else %}
                            <button class="buy-btn" onclick="redirectToLogin()">Démarrer</button>
                            <script>
                                function redirectToLogin() {
                                    window.location.href = "{% url 'login' %}";
                                }
                            </script>
                        {% endif %}
                    </div>
                    </div>
        
                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="box featured">
                        <h3>Plan Entreprise</h3>
                        <h4><sup>€</sup>1999<span>par service</span></h4>
                        <ul>
                            <li><i class="bx bx-check"></i> Proposer les conseils</li>
                            <li><i class="bx bx-check"></i> Inclure des fonctionnalités illimitées</li>
                            <li><i class="bx bx-check"></i> Une bande passante rapide et sans publicités</li>
                            <li><i class="bx bx-check"></i> Accéder à une version complète à l'API du service</li>
                            <li><i class="bx bx-check"></i> Les rapports détaillés et les fonctionnalités de collaboration</li>
                        </ul>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'plan_entreprise' %}" class="buy-btn">Démarrer</a>
                        {% else %}
                            <button class="buy-btn" onclick="redirectToLogin()">Démarrer</button>
                            <script>
                                function redirectToLogin() {
                                    window.location.href = "{% url 'login' %}";
                                }
                            </script>
                        {% endif %}
                    </div>
                    </div>
        
                    <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="box">
                        <h3>Plan Développeur</h3>
                        <h4><sup>€</sup>1499<span>par service</span></h4>
                        <ul>
                            <li><i class="bx bx-check"></i> Proposer les conseils</li>
                            <li><i class="bx bx-check"></i> Inclure des fonctionnalités illimitées</li>
                            <li><i class="bx bx-check"></i> Une bande passante rapide et sans publicités</li>
                            <li><i class="bx bx-check"></i> Accéder à une version complète à l'API du service</li>
                            <li class="na"><i class="bx bx-x"></i> <span>Les rapports détaillés et les fonctionnalités de collaboration</span></li>
                        </ul>
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'plan_developer' %}" class="buy-btn">Démarrer</a>
                        {% else %}
                            <button class="buy-btn" onclick="redirectToLogin()">Démarrer</button>
                            <script>
                                function redirectToLogin() {
                                    window.location.href = "{% url 'login' %}";
                                }
                            </script>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </section><!-- Section Prix Finis -->

        <!-- ======= Section FAQ ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Foire Aux Questions</h2>
                    <p>Quelques questions que les clients posent fréquemment sur les services de KiFiSo. Si vous avez d'autres questions, n'hésitez pas à nous contacter via le formulaire de contact ci-dessous, c'est un plaisir de vous accompagner sur de nouveaux projets.</p>
                </div>
        
                <div class="faq-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Quels types de sites web pouvez-vous concevoir et construire ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            Nous pouvons concevoir et construire des sites web pour diverses industries et domaines, notamment des sites de commerce électronique, des sites d'entreprise, des sites de portfolio, des sites de blog, des sites de médias sociaux et bien plus encore. Nous sommes en mesure de répondre à tous vos besoins en matière de conception et de construction de sites web.
                        </p>
                        </div>
                    </li>
        
                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Quel est votre processus de conception et de construction de sites web ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Notre processus de conception et de construction de sites web est divisé en plusieurs étapes, notamment la recherche, la planification, la conception, le développement, les tests et le lancement. Nous travaillons en étroite collaboration avec nos clients tout au long du processus pour nous assurer que nous répondons à tous leurs besoins et exigences.
                        </p>
                        </div>
                    </li>
        
                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Combien de temps cela prend-il pour concevoir et construire un site web ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            La durée de conception et de construction d'un site web dépend de la taille et de la complexité du projet. Nous nous efforçons de terminer les projets dans les délais impartis convenus avec nos clients, tout en nous assurant que la qualité est maintenue.
                        </p>
                        </div>
                    </li>
        
                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Quels sont les coûts associés à la conception et à la construction d'un site web ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Les coûts associés à la conception et à la construction d'un site web dépendent des besoins et des exigences du client. Nous proposons différents forfaits qui varient en fonction des fonctionnalités et de la complexité du projet. Nous pouvons également créer des offres personnalisées pour répondre aux besoins spécifiques de nos clients.
                        </p>
                        </div>
                    </li>
        
                    <li data-aos="fade-up" data-aos-delay="500">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Comment puis-je communiquer avec l'équipe de conception et de construction de sites web ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Nous proposons différentes méthodes de communication, notamment le courrier électronique, la messagerie instantanée et les appels vidéo. Nous sommes également disponibles pour des réunions en personne si cela est nécessaire.
                        </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="600">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">Offrez-vous des services de maintenance et de support pour les sites web que vous avez construits ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Oui, nous offrons des services de maintenance et de support pour les sites web que nous avons construits. Nous proposons différents plans de maintenance et de support pour répondre aux besoins de nos clients.
                        </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="700">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">Comment puis-je m'assurer que mon site web est optimisé pour les moteurs de recherche ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Nous avons une équipe dédiée à l'optimisation des moteurs de recherche (SEO) qui travaillera avec vous pour garantir que votre site web est optimisé pour les moteurs de recherche. Nous nous assurons que votre site web est facilement repérable par les moteurs de recherche, ce qui peut aider à améliorer votre classement dans les résultats de recherche.
                        </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="800">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">Comment pouvez-vous connecter les ingénieurs avec les clients ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Nous avons une base de données d'ingénieurs talentueux avec lesquels nous travaillons. Lorsqu'un client a besoin de services d'ingénierie, nous sélectionnons les ingénieurs les plus appropriés pour le projet en fonction des compétences et de l'expérience nécessaires.
                        </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="900">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="collapsed">Quels sont les avantages de travailler avec votre entreprise pour la conception et la construction de mon site web ? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Notre entreprise propose des services de conception et de construction de sites web professionnels dans une variété de domaines, avec une équipe de talentueux ingénieurs prêts à créer un site web personnalisé pour répondre aux besoins de votre entreprise. En travaillant avec nous, vous pouvez vous attendre à un processus de conception et de construction efficace, une communication claire et régulière, ainsi que des services de maintenance et de support pour assurer le succès continu de votre site web. De plus, nous nous engageons à optimiser votre site web pour les moteurs de recherche, afin de vous aider à attirer un trafic organique et à maximiser votre présence en ligne.
                        </p>
                        </div>
                    </li>
                </ul>
                </div>
            </div>
        </section><!-- Section FAQ Finis -->

        <!-- ======= Section Contact ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contactez-nous si vous souhaitez plus d'informations sur les services proposés par KiFiSo. Nous vous répondrons le plus rapidement possible dans les 24 heures et vous contacterons directement par e-mail ou au numéro de téléphone fourni.</p>
                </div>
        
                <div class="row">
                    <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>INSA Hauts-de-France, Aulnoy-Lez-Valenciennes, 59300 France</p>
                        </div>
        
                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>kifiso-insa@gmail.com</p>
                        </div>
        
                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>(+33) 7 99 88 22 79</p>
                        </div>
        
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2547.2358464872536!2d3.51252871597462!3d50.32485100428779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2ed11bfed235f%3A0x55341a772648d80a!2sInstitut%20National%20des%20Sciences%20Appliqu%C3%A9es%20Hauts-de-France!5e0!3m2!1svi!2sfr!4v1678052061374!5m2!1svi!2sfr" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>
                    </div>
        
                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="{% url 'send_contact' %}" method="post" role="form" class="php-email-form">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="name">Votre nom</label>
                                <input type="text" name="name" class="form-control" id="name" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Votre email</label>
                                <input type="email" class="form-control" name="email" id="email" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="name">Sujet</label>
                            <input type="text" class="form-control" name="subject" id="subject" required>
                        </div>

                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" required></textarea>
                        </div>

                        <div class="my-3">
                            <div class="loading">Chargement</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Votre message a été envoyé. Merci!</div>
                        </div>
                        <div class="text-center"><button type="submit">Envoyer Message</button></div>
                    </form>
                    </div>
                </div>
            </div>
        </section><!-- Section Contact Finis -->
    </main>

{% endblock content %}