{% extends "base.html" %}
{% load static %}

{% block css %}

{% endblock %}

{% block javascript %}
    
{% endblock javascript %}

{% block content %}
    <!-- ======= Section Hero ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <h1>De meilleures solutions pour vos affaires</h1>
                <h2>Nous sommes une équipe de concepteurs talentueux qui créent des sites web avec Bootstrap.</h2>
                <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="#about" class="btn-get-started scrollto">Commencer</a>
                    <a href="https://www.youtube.com/watch?v=TSs98l4O9M0" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Voir la vidéo</span></a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="{% static 'images/img/animated-server.png' %}" alt="serveur animée" class="img-fluid animated" alt="">
            </div>
        </div>
        </div>
    </section><!-- Hero Finis -->

    <main id="main">
        <!-- ======= Section Clients ======= -->
        <section id="clients" class="clients section-bg">
            <div class="container">
            <div class="row" data-aos="zoom-in">
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/img/clients/client-1.png' %}" class="img-fluid" alt="">
                </div>
    
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/img/clients/client-2.png' %}" class="img-fluid" alt="">
                </div>
    
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/img/clients/client-3.png' %}" class="img-fluid" alt="">
                </div>
    
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/img/clients/client-4.png' %}" class="img-fluid" alt="">
                </div>
    
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/img/clients/client-5.png' %}" class="img-fluid" alt="">
                </div>
    
                <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
                    <img src="{% static 'images/img/clients/client-6.png' %}" class="img-fluid" alt="">
                </div>
            </div>
            </div>
        </section><!-- Section Clients Finis -->

        <!-- ======= Section A Propos ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>A propos de nous</h2>
                </div>
        
                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            Nous sommes des ingénieurs de l'INSA Hauts-de-France et de l'Université Polytechnique 
                            Hauts-de-France.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Voici une idée du projet final en 3ème année</li>
                            <li><i class="ri-check-double-line"></i> Fournir des solutions de conception pour les sites Web des entreprises</li>
                            <li><i class="ri-check-double-line"></i> Sous la direction principale de professeur M. Gralti…</li>
                        </ul>
                    </div>
                        <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Nous souhaitons fournir des meilleurs services de conception et de construction de sites Web dans de nombreux 
                            domaines différents, en plus de pouvoir connecter nos talentueux ingénieurs avec nos clients. Nous nous engageons 
                            à fournir le meilleur service de qualité pour répondre aux besoins de nos clients.
                        </p>
                        <a href="#" class="btn-learn-more">En Savoir Plus</a>
                    </div>
                </div>
            </div>
        </section><!-- Section A Propos Finis -->

        <!-- ======= Section Pourquoi Nous ======= -->
        <section id="why-us" class="why-us section-bg">
            <div class="container-fluid" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch order-2 order-lg-1">
                    <div class="content">
                        <h3>Pourquoi devriez-vous <strong>choisir notre service?</strong></h3>
                        <p>
                        Nous disons souvent qu'il n'y a pas de solution miracle en matière de marketing. Cela peut être dû à de nombreuses raisons, dont certaines sont contrôlables et d'autres non.
                        </p>
                    </div>

                    <div class="accordion-list">
                        <ul>
                            <li>
                                <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Les services étonnants qui répondent exactement à vos besoins essentiels <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                                <p>
                                    La principale exigence est de fournir les services nécessaires, appropriés et les meilleurs pour répondre aux besoins des clients. Nous sommes toujours prêts à écouter et à changer dans la meilleure direction pour nos partenaires.
                                </p>
                                </div>
                            </li>
            
                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Le "meilleur" prix parmi nos concurrents <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    Parfois, les gens confondent cela avec le "prix le plus bas". Mais ce n'est pas toujours le cas. Certes, les prix bas sont quelque chose que de nombreux clients recherchent. Mais selon le marché que nous desservons, ce que nous devrions viser du point de vue des prix est le meilleur prix pour la valeur que nous offrons.
                                </p>
                                </div>
                            </li>
            
                            <li>
                                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Valeurs sociales et communautaires <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                                <p>
                                    De plus en plus, les enquêtes suggèrent que les milléniaux et les jeunes générations choisissent des entreprises qui font une différence dans le monde. Il peut s'agir de notre position sur l'environnement, de la façon dont nous traitons nos travailleurs ou de la manière dont notre entreprise tente d'aider les moins privilégiés d'entre nous. Quoi qu'il en soit, si nous avons la motivation d'améliorer le monde, cela fait toujours partie du récit global de notre marque. C'est ce qui fera la différence entre un client qui nous choisit et un autre.
                                </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("../../static/images/img/web-dev-design.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
            </div>
            </div>
        </section><!-- Section Pourquoi Nous Finis -->

        <!-- ======= Section Compétences ======= -->
        <section id="skills" class="skills">
            <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                    <img src="{% static 'images/img/skills.png' %}" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                    <h3>Niveau de compétences en développement Web </h3>
                    <p class="fst-italic">
                        Les compétences distinctives d'une entreprise concernent les savoir-faire, les compétences technologiques, mais également 
                        les processus de production et d'organisation.
                    </p>

                    <div class="skills-content">
                        <div class="progress">
                            <span class="skill">HTML <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
        
                        <div class="progress">
                            <span class="skill">CSS <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
        
                        <div class="progress">
                            <span class="skill">JavaScript <i class="val">87%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
        
                        <div class="progress">
                            <span class="skill">Adobe XD <i class="val">77%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn-learn-more">En Savoir Plus</a>
                </div>
            </div>
            </div>
        </section><!-- Section Compétences Finis -->

        <!-- ======= Section Services ======= -->
        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Services</h2>
                    <p>Les principaux services que notre entreprise fournit pour aider les partenaires à créer leur propre marque. Détaillé et complet de l'étape de consultation à l'étape de réalisation du produit. Faites toujours passer la satisfaction du client en premier.</p>
                </div>
        
                <div class="row">
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4><a href="">Conseiller</a></h4>
                        <p>Conseiller et donner des instructions appropriées pour tous les types de clients</p>
                    </div>
                    </div>
        
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4><a href="">Planifier</a></h4>
                        <p>Discuter et établir des plans détaillés avec les clients en fonction des exigences les plus courantes</p>
                    </div>
                    </div>
        
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4><a href="">Mise en œuvre</a></h4>
                        <p>Commencer le déploiement du produit : conception, code front-end, code back-end, serveur, domaine, rapport, ...</p>
                    </div>
                    </div>
        
                    <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-layer"></i></div>
                        <h4><a href="">Réaliser</a></h4>
                        <p>Compléter le produit et metter-le sur le marché avec le pack de services de garantie de notre société</p>
                    </div>
                    </div>
                </div>
            </div>
        </section><!-- Section Services Finis -->

        <!-- ======= Section CTA ======= -->
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">
            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                <h3>Appelez à l'action</h3>
                <p> N'attendez plus! Appelez-nous maintenant pour commencer à créer votre propre entreprise. Ou laissez vos coordonnées <a href="#contact">ci-dessous</a>, nous vous contacterons dans les plus brefs délais.</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="tel:++33799882279">Appelez à l'action</a>
                </div>
            </div>
            </div>
        </section><!-- Section CTA Finis -->
        
        <!-- ======= Section Portfolio ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Portfolio</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
        
                <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-web">Web</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-app">App</li>
                </ul>
        
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>App 1</h4>
                        <p>App</p>
                        <a href="{% static 'images/img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-fullscreen"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-2.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Web 1</h4>
                        <p>Web</p>
                        <a href="{% static 'images/img/portfolio/portfolio-2.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-fullscreen"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-3.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>App 2</h4>
                        <p>App</p>
                        <a href="{% static 'images/img/portfolio/portfolio-3.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-fullscreen"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-6.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>App 3</h4>
                        <p>App</p>
                        <a href="{% static 'images/img/portfolio/portfolio-6.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-fullscreen"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-4.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Card 2</h4>
                        <p>Card</p>
                        <a href="{% static 'images/img/portfolio/portfolio-4.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-fullscreen"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-5.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Web 2</h4>
                        <p>Web</p>
                        <a href="{% static 'images/img/portfolio/portfolio-5.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-fullscreen"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Card 1</h4>
                        <p>Card</p>
                        <a href="{% static 'images/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-fullscreen"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-8.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Card 3</h4>
                        <p>Card</p>
                        <a href="{% static 'images/img/portfolio/portfolio-8.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-fullscreen"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>
        
                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-img"><img src="{% static 'images/img/portfolio/portfolio-9.jpg' %}" class="img-fluid" alt=""></div>
                    <div class="portfolio-info">
                        <h4>Web 3</h4>
                        <p>Web</p>
                        <a href="{% static 'images/img/portfolio/portfolio-9.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-fullscreen"></i></a>
                        <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                    </div>
                </div>
            </div>
        </section><!-- Section Portfolio Finis -->


    </main>

{% endblock content %}