@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    /* min-height: 100vh; */
    padding: 100px;
    /* background: linear-gradient(to right, #8e8ed1, #e608ba); */
    background: linear-gradient(to right, #37787e, #37787e);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.entrer-form {
    width: 600px;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    margin-top: 15px;
}

.entrer-form::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .15);
    transform: rotate(-6deg);
    border-radius: 10px;
    z-index: -1;
}

.entrer-form a {
    color: rgba(51, 165, 193, 0.971);
    font-weight: bold;
}

/* Entrer form logo */
.entrer-form-logo {
    margin-bottom: 2rem;
}

.entrer-form-logo img {
    width: 60px;
}
/* ---------- */

/*Entrer form Standard */
.entrer-form-logo,
.entrer-form-header {
    text-align: center;
}

.entrer-form-header {
    margin-bottom: 2rem;
}

.entrer-form-header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.entrer-form-header h1 + div {
    font-size: calc(1rem * .8);
}

/* Entrer form - LOGIN */
.login {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login #div_id_username, .login #div_id_password {
    position: relative;
}

.login #div_id_username label, .login #div_id_password label {
    position: absolute;
    top: 1rem;
    left: 1.4rem;
    font-size: 1rem;
    opacity: .4;
}

/* Login Card Form Elements */
.entrer-form input[type="text"], .entrer-form input[type="password"] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 10);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}

.entrer-form #div_id_remember {
    margin: -10px auto;
    margin-bottom: -300px;
}

.entrer-form #div_id_remember label {
    margin-left: -300px;
}

.entrer-form input:focus {
    background: white;
}

.entrer-form button[type="submit"] {
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    /* margin-top: -30px; */
}

.entrer-form button[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}