{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Signup" %}{% endblock %}

{% block css %}
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
{% endblock %}

{% block inner %}
<div class="entrer-form">
  <div class="entrer-form-logo">
      <img src="{% static 'images/logo/logo.png' %}" alt="logo">
  </div>
  <div class="entrer-form-header">
      <h1>{% translate "S'inscrire" %}</h1>
      <div>
          <p>{% blocktranslate %}Vous avez déjà un compte ? Veuillez alors <a href="{{ login_url }}">vous connecter</a>.{% endblocktranslate %}</p>
      </div>
  </div>
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="btn btn-primary" type="submit">{% translate "Sign Up" %} &raquo;</button>
  </form>
</div>
{% endblock %}

{% block footer %}

{% endblock footer %}