{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% translate "Verify Your E-mail Address" %}{% endblock %}

{% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block inner %}
    <h1>{% translate "Vérifiez votre adresse e-mail" %}</h1>
    
    <p>{% blocktranslate %}Nous vous avons envoyé un e-mail de vérification. Suivez le lien fourni pour finaliser le processus d'inscription. Veuillez nous contacter si vous ne le recevez pas dans les quelques minutes qui suivent.{% endblocktranslate %}</p>
{% endblock %}