{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block css %}
    <link href="{% static 'css/user.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<section class="vh-100 profile1" style="background-color: #f4f5f700;">
  <div class="d-flex align-items-center h-100 profile-bg1">
    <div class="info-bg1">
        <div class="row g-0">
          <h1>Mise à jour des informations de l'utilisateur <i><-- {{ user.username }} --></i></h1>
          <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </form>
        </div>
    </div>

  </div>
</section>
{% endblock %}
